body {
    margin: 0;
    padding: 0;
    background-color: #000036;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #1c2841;
}

main {
    margin-left: 5rem; 
    padding: 1rem;
}

.navbarry {
    position: fixed;
    background-color: #1c2841;
    transition: width 200ms ease;
}

.navbarry-nav {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navy-item {
    width: 100%;
    color: whitesmoke;
}

.navy-item:last-child {
    margin-top: auto;
}

.navy-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: whitesmoke;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.navy-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #002147;
    color: whitesmoke;
}

.linky-text {
    display: none;
    margin-left: 1rem;
}

.navy-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbarry:hover {
    width: 16rem;

}

.navbarry:hover .linky-text {
    display: block;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.3ch;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbarry:hover .logo svg {
    transform: rotate(-180deg);
}

/* small screens */
@media only screen and (max-width: 600px) {
    .navbarry {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbarry-nav {
        flex-direction: row;
    }

    .navy-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* large screens */
@media only screen and (min-width: 600px) {
    .navbarry {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbarry:hover {
        width: 16rem;
    }

    .navbarry:hover .linky-text {
        display: incline;
        transition: opacity var(--transition-speed);
    }
}

@font-face {
    font-family: 'oink';
    src: url('OikawyTrialRegular-rvxyB.ttf');
}

.oink {
    font-family: 'oink';
}

.whitesmoke {
    color: whitesmoke;
}

.prettyblue {
    background-color: #1c2841;
}

a.underlined:hover {
    color: hotpink;
}