body {
    margin: 0;
    padding: 0;
    background-color: #000036;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #1c2841;
}

main {
    margin-left: 5rem; 
    padding: 1rem;
}

.navbarry {
    position: fixed;
    background-color: #1c2841;
    transition: width 200ms ease;
}

.navbarry-nav {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navy-item {
    width: 100%;
    color: whitesmoke;
}

.navy-item:last-child {
    margin-top: auto;
}

.navy-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: whitesmoke;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.navy-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #002147;
    color: whitesmoke;
}

.linky-text {
    display: none;
    margin-left: 1rem;
}

.navy-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbarry:hover {
    width: 16rem;

}

.navbarry:hover .linky-text {
    display: block;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.3ch;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbarry:hover .logo svg {
    transform: rotate(-180deg);
}

/* small screens */
@media only screen and (max-width: 600px) {
    .navbarry {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbarry-nav {
        flex-direction: row;
    }

    .navy-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* large screens */
@media only screen and (min-width: 600px) {
    .navbarry {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbarry:hover {
        width: 16rem;
    }

    .navbarry:hover .linky-text {
        display: incline;
        transition: opacity var(--transition-speed);
    }
}

@font-face {
    font-family: 'oink';
    src: url('OikawyTrialRegular-rvxyB.ttf');
}

.oink {
    font-family: 'oink';
}

.whitesmoke {
    color: whitesmoke;
}

.prettyblue {
    background-color: #1c2841;
}

.text-container {
    border-radius: inherit;
}

a.underlined:hover {
    color: hotpink;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .progress-bar {
    font-size: 1.3rem;
  }